---
import Layout from '../layouts/Layout.astro';
import {Image} from 'astro:assets'
import devImg from '../assets/dev-john.svg'
---

<Layout title="Home | Johnny" description='The site Home page'>
	<main class='w-full h-full flex flex-col items-center pt-5'>
		<h1 class='text-4xl font-bold text-[#403c56]'>Welcome to <span class="bg-gradient-to-r from-[#64748b] to-[#403c56] bg-clip-text text-transparent">John's Site</span></h1>
		<h2 class="font-semibold text-2xl mt-2 bg-gradient-to-r from-[#64748b] to-[#403c56] bg-clip-text text-transparent">
            About Me
        </h2>
		<div class='z-10 p-4 bg-gradient-to-bl from-slate-900 via-gray-400 to-slate-900 text-[#e8ecf1] grid place-items-center gap-2'>
			<p>
				My name is John Lyimo, I'm a freelancer full stack software developer with over 5 years of experience. I specialize in helping early stage companies bring their ideas to life as new mobile apps and websites. 
			</p>
			<p>
				My calling is to help companies create amazing, intuitive web & mobile applications, APIs etc. I don't just build something and then disappear, I want to be a long-term partner that grows your business.
			</p>
		
		</div>
	</main>
</Layout>
