---
import Layout from '../layouts/Layout.astro';
import {Image} from 'astro:assets'
import devImg from '../assets/dev-john.svg'
---

<Layout title="Home | Johnny" description='The site Home page'>
	<main class='w-full h-full flex flex-col items-center pt-5'>
		<h1 class='text-4xl font-bold'></h1>
	</main>
</Layout>
