---
import { ViewTransitions } from 'astro:transitions';

export interface Props{
    headTitle: string;
    headDescription: string;
}

const {headTitle, headDescription} =Astro.props;
---
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <title>{headTitle}</title>
    <meta name="description" content={headDescription} />
    
    <meta property='og:site_name' content="JohnnyLyimo" />
    <meta property='og:title' content={headTitle} />
    <meta property='og:description' content={headDescription  } />
    
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

</head>
