---
import Head from '../components/Head.astro';
interface Props {
	title: string;
	description: string;
}

const { title,description } = Astro.props;
---

<!doctype html>
<html lang="en">
	<Head headTitle={title} headDescription={description}/>
	<body class='h-screen w-full bg-gradient-to-r from-gray-900 via-gray-100 to-gray-900'>
		<slot />
	</body>
</html>
<style is:global>
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}
	html {
		background: #9ca3af;
		background-size: 224px;
	}

	a {
		-webkit-tap-highlight-color: transparent;
	}
</style>
